<form [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success">
  <div class="form-group col-lg-4">
    <label for="nameOnCard">Name on Card</label>
    <input type="email" class="form-control" id="nameOnCard" name="nameOnCard" [(ngModel)]="this.paymentDetail.nameOnCard" placeholder="Name On Card" required>
  </div>
  <div class="form-group col-lg-4">
    <label for="Card Number">Card Number</label>
    <input type="email" class="form-control" id="Card Number" name="Card Number"  (keypress)="numberOnly($event)" maxlength="16"  [(ngModel)]="this.paymentDetail.cardNumber" placeholder="Card Number" required>
  </div>
  <div class="form-group col-lg-2">
    <label for="expiredMonth">Expired Month</label>
    <select class="form-control" id="expiredMonth" name="expiredMonth"  [(ngModel)]="this.paymentDetail.expireMonth">
      <option></option>
      <option value="1">01</option>
      <option value="2">02</option>
      <option value="3">03</option>
      <option value="4">04</option>
      <option value="5">05</option>
      <option value="6">06</option>
      <option value="7">07</option>
      <option value="8">08</option>
      <option value="9">09</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
  </div>
  <div class="form-group col-lg-2">
    <label for="expiredYear">Expired Year</label>
    <select class="form-control" id="expiredYear" name="expiredYear" [(ngModel)]="this.paymentDetail.expireYear">
      <option></option>
      <option>2020</option>
      <option>2021</option>
      <option>2022</option>
      <option>2023</option>
      <option>2024</option>
      <option>2025</option>
      <option>2026</option>
      <option>2027</option>
      <option>2028</option>
    </select>
  </div>
  <div class="form-group col-lg-4">
    <label for="cvv">CVV</label>
    <input type="email" class="form-control" id="cvv" name="cvv"  (keypress)="numberOnly($event)" maxlength="4" [(ngModel)]="this.paymentDetail.cvv" placeholder="CVV" required>
  </div>
  <div class="form-group col-lg-4">
    <button type="submit" class="btn btn-primary" (click)="this.savePayment()">Save</button>
  </div>
</form>
