<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card  [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <table class="table table-hover" *ngIf="properties">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Property</th>
            <th scope="col">Status</th>
            <th scope="col">Auction Status</th>
            <th scope="col">Bid Start Date</th>
            <th scope="col">Bid End Date</th>
            <th class="text-sm-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of properties; index as i;" >
            <th scope="row">{{i+1}}</th>
            <td>{{address(p.property)}}</td>
            <td>{{commonService.getPropertyStatus(p.property.status)}}</td>
            <td>{{commonService.getAuctionStatus(p.auction?.status)}}</td>
            <td>{{p.auction?.beginTime | date:'dd/MM/yyyy hh:mm a'}}</td>
            <td>{{p.auction?.endTime | date:'dd/MM/yyyy hh:mm a'}}</td>
            <td class="text-sm-right">
              <ng-container *ngIf="p.auction?.status == 1 || p.auction?.status == 2">
                <button type="button" class="btn btn-outline-primary btn-sm mr-3 cursor-pointer" (click)="joinBid(p.property, p.auction)">Join Bid</button>
              </ng-container>
              <button type="button" class="btn btn-outline-success btn-sm cursor-pointer" (click)="delete(p.property)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
