<div class="col" id="main" >
  <!-- <div class="col-md-4" > -->
    <div class="container-fluid" >
     <div class="row d-flex justify-content-center"  >
       <div class="card m-2 card-same" [style.width.px]="300" *ngFor="let p of properties; index as i;">
        <img class="card-img-top" src="http://18.166.59.40/resources/property/property_1.jpg" alt="..."/>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
         <div class="card-body">
           <!-- <p>{{p.area}}</p> -->
           <h5 class="card-title card-same-title">{{p.area}}</h5>
           <h6 class="card-subtitle mb-2">{{p.address}}</h6>
           <p className="card-text card-same-text">{{p.status}}</p >

         </div>
         <div class="card-footer">
           <div class="row">
             <div class="col-md-3">
               <button type="button" class="btn btn-danger" (click)="joinBid(p)">  Bid  </button>
             </div>
             <div class="col-md-6">
               <button type="button" class="btn btn-link" (click)="detail(p)">Details</button>
             </div>
           </div>


        </div>


       </div>
     </div>
   </div>
  <!-- </div> -->

</div>
