<div className="container-fluid">
   <div className="row d-flex justify-content-center"  *ngFor="let p of properties; index as i;">
     <div className="card m-2 card-same" style={width:18em}>
        <!-- < img className="card-img-top" src={URL.createObjectURL(this.dataURLtoFile(item.img))} alt="..."/> -->
       <div className="card-body">
         <h5 className="card-title card-same-title">{{p.bidStartDate}}</h5>
         <h6 className="card-subtitle mb-2">{{address(p)}}</h6>
         <p className="card-text card-same-text">{{status(p.status)}}</p >
       </div>
     </div>
   </div>
   <div className="row d-flex justify-content-center">
   </div>
 </div>
