<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <div *ngIf="this.property">
          <form>
          <div class ="row">
            <div class ="col-sm-7">
              <div class="form-group col-sm-12 row">
                <h5>Place Bid for {{property.address}}</h5>
              </div>
              <div class="form-group col-sm-12 row">
                <label  class="col-sm-3 col-form-label font-weight-bold">Bid Start Date</label>
                <div class="col-sm-9 ">
                  <span class="form-control border-0">{{this.auction.beginTime | date: 'dd/MM/yyyy hh:mm a'}}</span>
                </div>
              </div>
              <div class="form-group col-sm-12 row">
                <label  class="col-sm-3 col-form-label font-weight-bold">Bid End Date</label>
                <div class="col-sm-9 ">
                  <span class="form-control border-0">{{this.currentEndTime | date: 'dd/MM/yyyy hh:mm a'}}</span>
                </div>
              </div>
              <div class="form-group col-sm-10 row" *ngIf="this.auction">
                <div class="col-sm-12 vertical-center">
                  <div class="card bg-info">
                    <div class="card-body bg-light text-center">
                      <span class="badge h4 text-primary">Current Highest Bid: {{this.currentHighestBid | currency}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 row" *ngIf="this.auction">
                <div class="col-sm-10">
                  <div class="card bg-light" *ngIf="this.time">
                    <div class="card-body bg-light text-center">
                      <p class="card-title mt-2">
                        <span class="badge h2 text-danger">{{format(this.time.days)}} : {{format(this.time.hours)}} : {{format(this.time.minutes)}} : {{format(this.time.seconds)}} Left</span><br/>
                        <span class="badge text-info">Day Hour Min Sec</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 row" *ngIf="this.auction">
                <label for="reservePrice" class="col-sm-2 col-form-label font-weight-bold">New Bid</label>
                <div class="col-sm-8 input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="newPrice" type="number" name="newPrice" [disabled]="this.isAuctionCompleted" [(ngModel)]="this.bid.newPrice" class="form-control" aria-label="Amount (to the nearest dollar)">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-12 row">
                <div class="col-sm-12 text-sm-center">
                  <button type="submit" class="btn btn-primary" (click)="placeBid()" [disabled]="invalidate()">Place Bid</button>
                  <button type="submit" class="btn btn-primary ml-3" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
            <div class ="col-sm-5">
              <app-bid-history [auctionBids]="this.auctionBids" [updatedDate]="this.updatedDate"></app-bid-history>
            </div>
          </div>
        </form>
        </div>
      </nb-card-body>
    </nb-card>



  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
