<form>
  <div class="form-group col-lg-4">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" readonly>
  </div>
  <div class="form-group col-lg-4">
    <label for="fullName">Full Name</label>
    <input type="email" class="form-control" id="fullName" name="fullName" [(ngModel)]="user.fullName" placeholder="Enter Full Name" required>
  </div>
  <div class="form-group col-lg-4">
    <label for="mobile">Mobile</label>
    <input type="email" class="form-control" id="mobile" name="mobile" [(ngModel)]="user.phone" placeholder="Enter Mobile Number" required>
  </div>
  <div class="form-group col-lg-4">
    <button type="submit" class="btn btn-primary" (click)="saveProfile()">Save</button>
  </div>
</form>
