<nb-layout>

  <nb-layout-header fixed>
    <div class="left-container" style="width: 80%">
      <nb-actions size="medium">
        <nb-action>Anytime<nb-icon icon="award-outline" status="success"></nb-icon>Anywhere</nb-action>
        <nb-action>About Us</nb-action>
        <nb-action>For Buyer</nb-action>
        <nb-action>For Seller</nb-action>
        <nb-action>Contact Us</nb-action>
      </nb-actions>
    </div>
    <div class="right-container">
      <nb-actions size="medium">
        <nb-action [routerLink]="['/auth/login']">Sign In</nb-action>
        <nb-action [routerLink]="['/auth/register']">Sign Up</nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
