<table class="table table-hover" *ngIf="properties">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Property</th>
    <th scope="col">Status</th>
    <th scope="col">Auction Status</th>
    <th scope="col">Bid Start Date</th>
    <th scope="col">Bid End Date</th>
    <th class="text-sm-right">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of properties; index as i;" >
    <th scope="row">{{i+1}}</th>
    <td>{{address(p.property)}}</td>
    <td>{{status(p.property.status)}}</td>
    <td>{{status(p.property.status)}}</td>
    <td>{{p.auction?.beginTime | date:'dd/MM/yyyy hh:mm a'}}</td>
    <td>{{p.auction?.endTime | date:'dd/MM/yyyy hh:mm a'}}</td>
    <td class="text-sm-right">
      <ng-container *ngIf="p.property.status == 0 || p.property.status == 2">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="sellProperty(p.property, p.auction)">Auction</button>
        <button type="button" class="btn btn-outline-success btn-sm ml-3" (click)="edit(p.property)">Update</button>
        <button type="button" class="btn btn-outline-success btn-sm ml-3" (click)="delete(p.property)">Delete</button>
      </ng-container>
      <ng-container *ngIf="p.property.status == 1 || p.property.status == 3">
        <button type="button" class="btn btn-outline-success btn-sm" (click)="delete(p.property)">Delete</button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
