<table class="table table-hover" *ngIf="properties">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Property</th>
    <th scope="col">Status</th>
    <th scope="col">Auction Status</th>
    <th scope="col">Bid Start Date</th>
    <th scope="col">Bid End Date</th>
    <th scope="col">Reserve Price</th>
    <th class="text-sm-right">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of properties; index as i;" >
    <th scope="row">{{i+1}}</th>
    <td><a [routerLink]="['/property-detail']" [queryParams]="{id: p.property?.pid}">{{address(p.property)}}</a></td>
    <td>{{commonService.getPropertyStatus(p.property.status)}}</td>
    <td>{{commonService.getAuctionStatus(p.auction?.status)}}</td>
    <td>{{p.auction?.beginTime | date:'dd/MM/yyyy hh:mm a'}}</td>
    <td>{{p.auction?.endTime | date:'dd/MM/yyyy hh:mm a'}}</td>
    <td>{{p.auction?.basePrice | currency}}</td>
    <td class="text-sm-right">
      <ng-container *ngIf="p.property.status == 1 || p.property.status == 2|| p.property.status == 4 || p.property.status == 5">
        <nb-icon class="cursor-pointer" *ngIf="p.property.status == 1 || p.property.status == 4" icon="shopping-cart-outline" status="primary" (click)="sellProperty(p.property, p.auction)" nbTooltip="Sell Property"></nb-icon>
        <nb-icon class="ml-3 cursor-pointer" icon="edit-outline" status="primary" (click)="edit(p.property)" nbTooltip="Edit Property"></nb-icon>
        <nb-icon class="ml-3 cursor-pointer" icon="trash-outline" status="primary" (click)="deleteProperty(p.property)" nbTooltip="Delete Property"></nb-icon>
      </ng-container>
      <ng-container *ngIf="p.property.status == 0">
        <nb-icon class="cursor-pointer" icon="edit-outline" status="primary" (click)="edit(p.property)" nbTooltip="Edit Property"></nb-icon>
        <nb-icon class="ml-3 cursor-pointer" icon="trash-outline" status="primary" (click)="deleteProperty(p.property)" nbTooltip="Delete Property"></nb-icon>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
