<table class="table table-hover" *ngIf="properties">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Property</th>
    <th scope="col">Status</th>
    <th scope="col">Auction Status</th>
    <th scope="col">Bid Start Date</th>
    <th scope="col">Bid End Date</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of properties; index as i;" >
    <th scope="row">{{i+1}}</th>
    <td>{{address(p)}}</td>
    <td>{{status(p.status)}}</td>
    <td>{{status(p.status)}}</td>
    <td>{{p.bidStartDate}}</td>
    <td>{{p.bidEndDate}}</td>
    <td>
      <ng-container *ngIf="p.status == 0">
        <button type="button" class="btn btn-outline-primary btn-sm">Advise</button>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3" (click)="edit(p)">Update</button>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3">Delete</button>
      </ng-container>
      <ng-container *ngIf="p.status != 0">
        <button type="button" class="btn btn-outline-primary btn-sm">Pace</button>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3">Update</button>
        <button type="button" class="btn btn-outline-primary btn-sm ml-3">Quit</button>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>
