<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <form>
      <div class="form-group col-lg-4">
        <label for="streetAddress">Street address</label>
        <input type="email" class="form-control" id="streetAddress" name="streetAddress" placeholder="Street Address" required>
      </div>
      <div class="form-group col-lg-4">
        <label for="suburd">Suburd</label>
        <input type="email" class="form-control" id="suburd" name="suburd" placeholder="Subrud" required>
      </div>
      <div class="form-group col-lg-4">
        <label for="postcode">Postcode</label>
        <input type="email" class="form-control" id="postcode" name="postcode" placeholder="Postcode" required>
      </div>
      <div class="form-group col-lg-4">
        <label for="state">State</label>
        <select class="form-control" id="state">
          <option></option>
          <option>ACT</option>
          <option>NSW</option>
          <option>NT</option>
          <option>QLD</option>
          <option>SA</option>
          <option>VIC</option>
          <option>TAS</option>
          <option>WA</option>
        </select>
      </div>
      <div class="form-group col-lg-4">
        <label for="country">Country</label>
        <select class="form-control" id="country">
          <option></option>
          <option>Australia</option>
        </select>
      </div>
      <div class="form-group col-lg-4">
        <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        <button type="submit" class="btn btn-primary ml-3" (click)="cancel()">Cancel</button>
      </div>
    </form>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
