<form>
  <div class="form-group col-lg-4">
    <label for="streetAddress">Street address</label>
    <input type="input" class="form-control" id="streetAddress" name="streetAddress" placeholder="Street Address" required>
  </div>
  <div class="form-group col-lg-4">
    <label for="suburb">Suburb</label>
    <input type="input" class="form-control" id="suburb" name="suburb" placeholder="Suburb" required>
  </div>
  <div class="form-group col-lg-4">
    <label for="postcode">Postcode</label>
    <input type="number" class="form-control" id="postcode" name="postcode" placeholder="Postcode" required>
  </div>
  <div class="form-group col-lg-4">
    <label for="state">State</label>
    <select class="form-control" id="state">
      <option>Choose</option>
      <option>ACT</option>
      <option>NSW</option>
      <option>NT</option>
      <option>QLD</option>
      <option>SA</option>
      <option>VIC</option>
      <option>TAS</option>
      <option>WA</option>
    </select>
  </div>
  <div class="form-group col-lg-4">
    <label for="country">Country</label>
    <select class="form-control" id="country">
      <option>Choose</option>
      <option>Australia</option>
    </select>
  </div>
  <div class="form-group col-lg-4">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
