<!-- <nb-card status="danger">
  <nb-card-header class="text-center">Messages</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div class="col"><app-card-item [heading]="'Total'" [value]="'8'" [styleClass]="'text-info'"></app-card-item></div>
      </div>
      <div class="row">
        <div class="col"><app-card-item [heading]="'Read'" [value]="'4'" [styleClass]="'text-success'"></app-card-item></div>
        <div class="col"><app-card-item [heading]="'Unread'" [value]="'4'" [styleClass]="'text-warning'"></app-card-item></div>
      </div>
    </div>
  </nb-card-body>
</nb-card> -->

<nb-card status="danger">
    <nb-card-header class="text-center">{{message.subject}}<button class="close" mat-button (click)="onDelete(message)">x</button></nb-card-header>
    <nb-card-body>
        <p>Sender: {{message.sender}}</p>
        <p>{{message.content}}</p>
    </nb-card-body>
</nb-card>