.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
}

.read{
  position: absolute;
  top: 0;
  left: 0;
  line-height: 14px;
  min-width: auto;
}
