<nb-actions size="medium">
  <nb-action [routerLink]="['/home']">Anytime<nb-icon icon="award-outline" status="success"></nb-icon>Anywhere</nb-action>
  <nb-action [routerLink]="['/about-us']">About Us</nb-action>
  <nb-action [routerLink]="['/buyer-info']">For Buyer</nb-action>
  <nb-action [routerLink]="['/seller-info']">For Seller</nb-action>
  <nb-action [routerLink]="['/contact-us']">Contact Us</nb-action>

  <nb-action style="width: 550px; cursor:auto"> </nb-action>
  <nb-action [routerLink]="['/auth/login']">Sign In</nb-action>
  <nb-action [routerLink]="['/auth/register']">Sign Up</nb-action>
</nb-actions>
<div class="ng-container" id="search-bar">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
