@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1604462978191'); /* IE9 */
  src: url('iconfont.eot?t=1604462978191#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALYAAsAAAAABpQAAAKJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBIIEkATYCJAMICwYABCAFhG0HLRvHBcg+Qhpxuwp6iCjRGaEzgXCVW/LUu3V26wNNGM6PCKq1f3v29hNBGDSgQjTiJQ7I2FSEATIGyCPpf/9rC9PQJyPaSKYJryvzV3x2sNctJSopUWl3oV3Il6Bb9T2AkEYKanL3e/ktUMm0Ii0NbDRT4se6dH174IfoX0mFN5Ai8rxU+rIswH+f53J61wAKZH6gXOYaeNQLMN4a6F4WRVZCOTeM3UTgEO4TqNavIrpzvNxEMjKwLBCXDU2KZHIRWbbylUJ5zd4s7ipTma6lhzv8+/GV5SFJWQE07Tk7UiPdD8IieonDlBAlaIfLUGBWRCYO1GZ2iQuLFVedSRgW2Vd98MFTm9jrnyfKgdpa0KtK7kmKZbdam0BWJ5eLWD/qOXKuquptXzy4eb3y/MbT0pPj4qFzG6/9QeeBWOleTd24H2pgFvnF+nxU2kvVXgM9v8CF6tb/w9Yv5fsO/1tP09imJKMHI13gZ0UpnUDw9tew8dRk8D5XuSnr56PyLOoYKf5b0p4dOZQDfTquRPMmyzMhCVVk+y0BgWa/Yw1tt+YKlTmphaRCHwqVRsnMnEWZGitRrtIWVJsxOVyjBYmLXIVpNwWh0RtJvecoNPqQmfmDMu3+UK4xQLVD0XJmjfEot4NQYlRBvoKheK5Ads6J+hVqR1uirJyzd0ihEYfm/GIxP0EXaY4N4UlrMQsQ5DkwVh5D2/bAJ89EhWs6s9+pL5yte1NN8ZxIzg4ESRhSAdkVMCg8LkF7s1zp8ytIc2STUAtlILiDSMiYHjTVNHqQE43bi3Ivr4RONC2MCUAgHgcYK7OQzeYBfv0sE1KwGn1EytdRh91EX01tfZ3zdfugGjCmgG2F4pREkQgAAAA=') format('woff2'),
  url('iconfont.woff?t=1604462978191') format('woff'),
  url('iconfont.ttf?t=1604462978191') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1604462978191#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e68a";
}

