<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body>

        <nb-tabset>
          <nb-tab tabTitle="Profile">
            <app-profile></app-profile>
          </nb-tab>
          <nb-tab tabTitle="Address">
            <app-address></app-address>
          </nb-tab>
          <nb-tab tabTitle="Payment">
            <app-payment></app-payment>
          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
