<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body class="h-100">
        <nb-card status="success">
          <nb-card-header>Welcome to ECHO Properties!</nb-card-header>
          <nb-card-body>
            <p>Do you want to sell your property at 24 X 7 at fairer market price without agent fees?</p>
            <p>Or do you want to find and buy your dreaming property by several clicks of your mouse at your comfortable place?</p>
            <p>You are at the right place! We are professional online property auctioneer who can help satisfy all your property needs with our reliable, secure and easy to use online property auction systems.</p>
            <br/>
            <p>If you are a seller and want to know more about our service, please go to "For Seller" page to enter your details;</p>
            <p>If you are a buyer and want to know more about our service, please go to "For Buyer" page to enter your details.</p>
            <br/>
            <p>One of our representatives will contact you within 48 hours after your contact form is received.</p>
            <p>Or simply register an account with us and start searching and bidding your ideal properties within 48 hours!</p>
            <br/>
            <p>Enjoy and have lots of fun with us!</p>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
