<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.backend.dao.AuctionMapper" >
    <resultMap id="AuctionMap" type="com.echo.backend.domain.Auction" >
        <result column="aid" property="aid" jdbcType="INTEGER" />
        <result column="uid" property="uid" jdbcType="INTEGER" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="base_price" property="basePrice" jdbcType="DOUBLE" />
        <result column="current_price" property="currentPrice" jdbcType="DOUBLE" />
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="winner" property="winner" jdbcType="INTEGER" />
    </resultMap>

    <insert id="createAuction" parameterType="com.echo.backend.domain.Auction" useGeneratedKeys="true" keyProperty="aid">
        insert into t_auction (uid, pid, base_price, begin_time, end_time, status)
        values(#{uid},#{pid},#{basePrice},#{beginTime},#{endTime},#{status})
    </insert>

    <select id="getAuction10mins" resultMap="AuctionMap" >
        select * from t_auction where
        begin_time <![CDATA[ >= ]]> date_add(now(), interval 10 minute) AND
        begin_time <![CDATA[ <= ]]> now() AND
        status=1
    </select>

    <select id="getAuctionByPid" resultMap="AuctionMap" parameterType="java.lang.Integer">
        select * from t_auction where pid=#{pid}
    </select>

    <update id="startAuction" parameterType="java.lang.Integer">
        update t_auction set status=2 where aid=#{aid}
    </update>

    <update id="startAuctionFail" parameterType="java.lang.Integer">
        update t_auction set status=3 where aid=#{aid}
    </update>

    <update id="startAuctionSuccess" parameterType="java.lang.Integer">
        update t_auction set status=4 where aid=#{aid}
    </update>

    <update id="updateWinnerPrice" parameterType="com.echo.backend.domain.Auction">
        update t_auction set winner=#{winner},current_price=#{current_price},status=#{status} where aid=#{aid}
    </update>

</mapper>