<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.backend.dao.PropertyMapper" >
    <resultMap id="PropertyMap" type="com.echo.backend.domain.Property" >
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="owner" property="owner" jdbcType="INTEGER" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="district" property="suburb" jdbcType="VARCHAR" />
        <result column="code" property="postcode" jdbcType="VARCHAR" />
        <result column="street" property="streetName" jdbcType="VARCHAR" />
        <result column="house_number" property="streetNumber" jdbcType="VARCHAR" />
        <result column="longitude" property="longitude" jdbcType="DOUBLE" />
        <result column="latitude" property="latitude" jdbcType="DOUBLE" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="property_type" property="propertyType" jdbcType="INTEGER" />
        <result column="create_time" property="createTime"/>
        <result column="area" property="area" jdbcType="DOUBLE" />
        <result column="bedroom" property="bedroom" jdbcType="INTEGER" />
        <result column="bathroom" property="bathroom" jdbcType="INTEGER" />
        <result column="carport" property="carport" jdbcType="INTEGER" />
        <result column="verification" property="verification" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="createProperty" parameterType="com.echo.backend.domain.Property" useGeneratedKeys="true" keyProperty="pid">
        insert into t_property (owner, state, city, district, code, street,house_number, longitude, latitude, address, status, create_time, area, bedroom, bathroom, carport, verification, description, property_type)
        values(#{owner},#{state},#{city},#{suburb},#{postcode},#{streetName},#{streetNumber},#{longitude},#{latitude}, #{address}, 0, #{createTime}, #{area},#{bedroom},#{bathroom},#{carport},0,#{description},#{propertyType})
    </insert>

    <select id="getAllProperty" resultMap="PropertyMap">
        select * from t_property
    </select>

    <select id="getPropertyByUid" resultMap="PropertyMap" parameterType="java.lang.Integer">
        select * from t_property where owner=#{uid}
    </select>

    <select id="searchByStreet" resultMap="PropertyMap" parameterType="com.echo.backend.domain.Property">
        select * from t_property where street=#{streetName}
        <if test="area != 0">
            AND area &gt;= #{area}
        </if>
        <if test="bedroom != 0">
            AND bedroom &gt;= #{bedroom}
        </if>
        <if test="bathroom != 0">
            AND bathroom &gt;= #{bathroom}
        </if>
        <if test="carport != 0">
            AND carport &gt;= #{carport}
        </if>
    </select>

    <select id="searchByDistrict" resultMap="PropertyMap" parameterType="com.echo.backend.domain.Property">
        select * from t_property where district=#{suburb}
        <if test="area != 0">
            AND area &gt;= #{area}
        </if>
        <if test="bedroom != 0">
            AND bedroom &gt;= #{bedroom}
        </if>
        <if test="bathroom != 0">
            AND bathroom &gt;= #{bathroom}
        </if>
        <if test="carport != 0">
            AND carport &gt;= #{carport}
        </if>
    </select>

    <select id="searchByCode" resultMap="PropertyMap" parameterType="com.echo.backend.domain.Property">
        select * from t_property where code=#{postcode}
        <if test="area != 0">
            AND area &gt;= #{area}
        </if>
        <if test="bedroom != 0">
            AND bedroom &gt;= #{bedroom}
        </if>
        <if test="bathroom != 0">
            AND bathroom &gt;= #{bathroom}
        </if>
        <if test="carport != 0">
            AND carport &gt;= #{carport}
        </if>
    </select>

    <select id="searchByCity" resultMap="PropertyMap" parameterType="com.echo.backend.domain.Property">
        select * from t_property where city=#{city}
        <if test="area != 0">
            AND area <![CDATA[ >= ]]> #{area}
        </if>
        <if test="bedroom != 0">
            AND bedroom <![CDATA[ >= ]]> #{bedroom}
        </if>
        <if test="bathroom != 0">
            AND bathroom <![CDATA[ >= ]]> #{bathroom}
        </if>
        <if test="carport != 0">
            AND carport <![CDATA[ >= ]]> #{carport}
        </if>
    </select>

    <select id="searchByPosition" resultMap="PropertyMap" parameterType="java.lang.Double">
        select * from t_property where
        latitude <![CDATA[ <= ]]> #{northeastLat} AND
        latitude <![CDATA[ >= ]]> #{southwestLat} AND
        longitude <![CDATA[ <= ]]> #{northeastLng} AND
        longitude <![CDATA[ >= ]]> #{southwestLng}
    </select>
</mapper>