<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <div class="row">
        <div class="col"><app-my-property-card></app-my-property-card></div>
        <div class="col"><app-auction-card></app-auction-card></div>
        <div class="col"><app-interested-property-card></app-interested-property-card></div>
        <div class="col"><app-message-card></app-message-card></div>
      </div>
    </div>
    <app-search-bar (search)="searchProperty($event)"></app-search-bar>
    <div *ngIf="properties && properties.length > 0">
      <nb-card  [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
        <nb-card-body>
          <app-all-property-list [properties]="properties"></app-all-property-list>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
