<button type="button" class="btn btn-outline-primary btn-sm" (click)="btnClickedHandler()">Advise</button>
<button type="button" class="btn btn-outline-primary btn-sm ml-3" (click)="btnClickedHandler()">Pace Bid</button>
<button type="button" class="btn btn-outline-primary btn-sm ml-3" (click)="btnClickedHandler()">Update Bid</button>
<button type="button" class="btn btn-outline-primary btn-sm ml-3" (click)="btnClickedHandler()">Quit Bid</button>
<button type="button" class="btn btn-outline-primary btn-sm ml-3" (click)="btnClickedHandler()">Delete</button>
