<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <div class="text-lg-right">
          <button class="btn btn-outline-primary btn-sm" (click)="addProperty()">Add Property</button>
        </div>
        <app-property-list [properties]="properties"></app-property-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
