<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <div class="text-lg-left">
          <button class="btn btn-primary btn-sm" (click)="addProperty()">Add Property</button>
        </div>
        <app-property-list [properties]="properties" (delete)="deleteProperty($event)"></app-property-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
