<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <form class="form-inline justify-content-center align-items-center margin-top">
      <input class="form-control mr-sm-2 w-50 form-rounded" type="search" placeholder="Search" aria-label="Search">
      <nb-icon icon="search-outline" class="font-size-lg"></nb-icon>
    </form>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
