<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card  [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <app-search-bar (search)="searchProperty($event)"></app-search-bar>
        <app-all-property-list [properties]="properties"></app-all-property-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>


  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
