<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body>
        <div class ="row" *ngIf="this.propertyAuction?.property">
          <div class ="col-sm-5">
            <div class="card">
              <div class="card-body">
                <p class="card-text h6">Current Bid: {{propertyAuction.auction?.basePrice | currency: 'AUD' : 'symbol' : '1.0-0'}}</p>
                <p class="card-text">{{this.getAddress(propertyAuction.property)}} | {{this.getPropertyType(propertyAuction.property.propertyType)}}</p>
                <p class="card-text">
                  <img class="icon" src="assets/resources/bed.svg"/>&nbsp;{{propertyAuction.property.bedroom}}&nbsp;
                  <img class="icon" src="assets/resources/bath.svg"/>&nbsp;{{propertyAuction.property.bathroom}}&nbsp;
                  <img class="icon" src="assets/resources/car.svg"/>&nbsp;{{propertyAuction.property.carport}}&nbsp;
                  <img class="icon" src="assets/resources/area.svg"/>&nbsp;{{propertyAuction.property.area}}
                </p>
                <p class="card-text">Auction Start Date: {{propertyAuction.auction?.beginTime | date:'dd/MM/yyyy hh:mm a'}}</p>
                <p class="card-text">Auction End Date: &nbsp;{{propertyAuction.auction?.endTime | date:'dd/MM/yyyy hh:mm a'}}</p>
              </div>
            </div>
            <div class ="row mt-4 mb-4 text-center" *ngIf="(propertyAuction.property.status == 1 || propertyAuction.property.status == 2) && propertyAuction.property.owner != this.userService.user?.uid">
              <div class ="col-sm-4">
                <button *ngIf="this.userService.authenticated && propertyAuction.auction" type="button" class="btn btn-outline-primary btn-sm cursor-pointer" (click)="joinBid(propertyAuction)">Join Bid</button>
                <button *ngIf="!this.userService.authenticated && propertyAuction.auction" type="button" class="btn btn-outline-primary btn-sm cursor-pointer" (click)="login(propertyAuction)">Login to Bid</button>
              </div>
              <div class ="col-sm-4 align-items-center text-center" *ngIf="isShowLike()">
                <nb-icon *ngIf="!isLiked" class="font-size-lg cursor-pointer" icon="heart-outline" status="primary" nbTooltip="Add to favourite" (click)="addToFav(propertyAuction, true)"></nb-icon>
                <nb-icon *ngIf="isLiked" class="font-size-lg cursor-pointer" icon="heart" status="danger" nbTooltip="Remove from favourite" (click)="addToFav(propertyAuction, false)"></nb-icon>
              </div>
              <div class ="col-sm-4 align-items-center text-center">
                <a href="mailto:{{owner?.email}}"><nb-icon class="font-size-lg cursor-pointer" icon="email-outline" status="primary" nbTooltip="Emailto:{{owner?.email}}"></nb-icon></a>
              </div>
            </div>
            <div class="card">
              <agm-map [zoom]="16" [latitude]="propertyAuction.property.latitude" [longitude]="propertyAuction.property.longitude">
                <agm-marker [latitude]="propertyAuction.property.latitude" [longitude]="propertyAuction.property.longitude"></agm-marker>
              </agm-map>
            </div>
            <div class="card">
              <div class="card-body card-min-height">
                <p class="card-text h6">Description</p>
                <p class="card-text">{{propertyAuction.property.description}}</p>
              </div>
            </div>
          </div>
          <div class ="col-sm-7">
            <div class="card">
              <img [src]="this.currentImage" (click)="this.loadPicUrl(propertyAuction.property)" class="card-img-top cursor-pointer" alt="...">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
