<nb-card status="success">
  <nb-card-header class="text-center">My Properties</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row">
        <div class="col"><app-card-item [heading]="'Active'" [value]="'6'" [styleClass]="'text-info'"></app-card-item></div>
        <div class="col"><app-card-item [heading]="'Inactive'" [value]="'2'" [styleClass]="'text-danger'"></app-card-item></div>
      </div>
      <div class="row">
        <div class="col"><app-card-item [heading]="'Sold'" [value]="'2'" [styleClass]="'text-success'"></app-card-item></div>
        <div class="col"><app-card-item [heading]="'Passed'" [value]="'1'" [styleClass]="'text-warning'"></app-card-item></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
