<nb-actions *ngIf="!userService.authenticated" size="medium">
  <nb-action [routerLink]="['/home']">Anytime<nb-icon icon="award-outline" status="success"></nb-icon>Anywhere</nb-action>
  <nb-action [routerLink]="['/about-us']">About Us</nb-action>
  <nb-action [routerLink]="['/buyer-info']">For Buyer</nb-action>
  <nb-action [routerLink]="['/seller-info']">For Seller</nb-action>
  <nb-action [routerLink]="['/contact-us']">Contact Us</nb-action>
  <nb-action style="width: 550px; cursor:auto"> </nb-action>
  <nb-action [routerLink]="['/auth/login']">Sign In</nb-action>
  <nb-action [routerLink]="['/auth/register']">Sign Up</nb-action>
</nb-actions>
<nb-actions *ngIf="userService.authenticated" size="medium">
  <nb-action [routerLink]="['/home']">Anytime<nb-icon icon="award-outline" status="success"></nb-icon>Anywhere</nb-action>
  <nb-action [routerLink]="['/dashboard']" [class.text-primary]="this.isPage('/dashboard')">Dashboard</nb-action>
  <nb-action [routerLink]="['/my-properties']" [class.text-primary]="this.isPage('/my-properties')">My Properties</nb-action>
  <nb-action [routerLink]="['/interested-properties']" [class.text-primary]="this.isPage('/interested-properties')">Interested Properties</nb-action>
  <nb-action [routerLink]="['/active-auctions']" [class.text-primary]="this.isPage('/active-auctions')">Active Auctions</nb-action>
  <nb-action [routerLink]="['/completed-auctions']" [class.text-primary]="this.isPage('/completed-auctions')">Completed Auctions</nb-action>
  <nb-action [routerLink]="['/messages']" [class.text-primary]="this.isPage('/messages')">Messages</nb-action>
  <nb-action [routerLink]="['/user-account']" [class.text-primary]="this.isPage('/user-account')">Account Details</nb-action>
  <nb-action style="width: 100px; cursor:auto"> </nb-action>
  <nb-action [routerLink]="['/user-account']">{{user?.fullName}}</nb-action>
  <nb-action [routerLink]="['/auth/logout']"><nb-icon icon="log-out-outline"></nb-icon></nb-action>
</nb-actions>
