<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card nbSpinnerSize="giant" nbSpinnerStatus="success" size="large">
      <nb-card-body class="h-100">
        <nb-card status="info">
          <nb-card-header>Contact Us</nb-card-header>
          <nb-card-body>
            <p>For all general enquires, please email: customer_service@echo_properties.com.au</p>
            <p>For technical enquries, please email: techs@echo_properties.com.au</p>
            <br/>
            <p>All general and technical enquires will be responded within 48 hours.</p>
            <br/>
            <p>For any urgent enquries, please email: urgent@echo_properties.com.au</p>
            <p>All urgent enquires will be responded within 8 hours.</p>
          </nb-card-body>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
